//Sass code goes here 
 @import "variables";

 @font-face {
    font-family: clockfont;
    src: url(digital-dismay.otf);
}

p, h1, h2, h3, h4, a {
	color: $colorWhite;
}

 body {
	background: $BackgroundWhite;
    font-family: $fontHelvetica;
    color: $colorWhite;
}

#banner {
	width: 300px;
	height: 250px;
}

#collapse-banner {
	width: 298px;
	height: 248px;
	background: $BackgroundBlue;
	overflow: hidden;
	cursor: pointer;
	border: 1px $borderGray solid;
	position: relative;
}

.titles {
    position: absolute;
    width: 100%;
    font-size: $collapsedTitle;
    opacity: $opacityOne;
    text-align: center;
}

#f1_txt1{

}

#ff-cta{
    font-size: $ff-cta;
}

#footer{
	width: 300px;
	height: 54px;
	bottom: 196px;
	left: 0px;
	background: $BackgroundWhite;
	position: absolute;
	display: block;
}

#GNG_logo{
	width: 162px;
	height: 24px;
    background: url(../img/GNG_logo.svg) no-repeat;

}

#blueBotton{
	width: 134px;
	height: 54px;
    background: url(../img/cuna.svg) no-repeat;

}

#hand{
	width: 134px;
	height: 54px;
    background: url(../img/hand.svg) no-repeat;

}

.frame {
display: block;
}