//Sass code goes here 
 @import "variables";

 @font-face {
    font-family: clockfont;
    src: url(digital-dismay.otf);
}

 body {
	background: $BackgroundWhite;
}

#banner {
	width: 300px;
	height: 250px;
}

#collapse-banner {
	width: 298px;
	height: 248px;
	background: $BackgroundBlue;
	overflow: hidden;
	cursor: pointer;
	border: 1px $borderGray solid;
	position: relative;
}

#degrees {
	font-size: 140px;
	font-family: clockfont;
	color: #000;
}

#fan {
	width: 173px;
	height: 216px;
	background: url(../img/fan.svg);
	position: relative;
	margin: 0 auto;
	margin-top: 32px;

	#anim1 {
		-webkit-animation: spin 2000ms linear 0s infinite normal;
		-moz-animation: spin 2000ms linear 0s infinite normal;
		-ms-animation: spin 2000ms linear 0s infinite normal;
		-o-animation: spin 2000ms linear 0s infinite normal;
		animation: spin 2000ms linear 0s infinite normal;
	}
}

#aspas {
	width: 130px;
	height: 130px;
	background: url(../img/aspas.svg);
	position: absolute;
	top: 20px;
	left: 20px;
}

@keyframes spin {
	0% { transform: rotate(360deg); }
	100% { transform: rotate(0deg); }
}
@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(360deg); }
	100% { -webkit-transform: rotate(0deg); }
}
@-ms-keyframes spin {
	0% {-ms-transform: rotate(360deg); }
	100% { -ms-transform: rotate(0deg); }
}
@-moz-keyframes spin {
	0% { -moz-transform: rotate(360deg); }
	100% { -moz-transform: rotate(0deg); }
}
@-o-keyframes spin {
	0% { -o-transform: rotate(360deg); }
	100% { -o-transform: rotate(0deg); }
}