//Sass code goes here 
 @import "variables"; 

 body {
	background: $BackgroundWhite;
}

#banner {
	width: 300px;
	height: 250px;
}

#collapse-banner {
	width: 298px;
	height: 248px;
	background: $BackgroundWhite;
	overflow: hidden;
	cursor: pointer;
	border: 1px $borderGray solid;
	position: relative;
}