//Sass code goes here 
 @import "variables";

 /*@font-face {
    font-family: clockfont;
    src: url(digital-dismay.otf);
}*/

p, h1, h2, h3, h4, a {
	color: $colorWhite;
}

 body {
	background: $BackgroundWhite;
    font-family: $fontHelvetica;
    color: $colorWhite;
}

#banner {
	width: 300px;
	height: 250px;
}

#collapse-banner {
	width: 298px;
	height: 248px;
	background: $BackgroundBlue;
	overflow: hidden;
	cursor: pointer;
	border: 1px $borderGray solid;
	position: relative;
}

.titles {
    position: absolute;
    width: 100%;
    left:0;
    right:0;
    font-size: $collapsedTitle;
    opacity: $opacityOne;
    text-align: center;
}

#footer{
	width: 300px;
	height: 54px;
	bottom: 0px;
	left: 0px;
	//background: $BackgroundWhite;
	position: absolute;
	opacity: $opacityCero;
	display: block;
	z-index:10;
}

#GNG_logo{
	width: 198px;
	height: 54px;
	left: -198px;
    background: url(../img/GNG_logo.svg) no-repeat;
    position: absolute;
}

.blueButton{
	width: 129px;
	height: 54px;
	left: 301px;
    background: url(../img/cuna.svg) no-repeat;
    position: absolute;
}

#ff-cta{
    font-size: $ff-cta;
	top: 21px;
	left: 30px;
    position: absolute;
    text-align: left;
	opacity: $opacityCero;

}

#f1_txt1{
	top: 20px;
	opacity: $opacityCero;
}

#f1_txt2{
	top: 60px;
	opacity: $opacityCero;
}

.marco{
	width: 300px;
	height: 196px;
	overflow: hidden;
    position: relative;
}
#hand{
	width: 100px;
	height: 113px;
	top: 253px;
	left: 200px;
    position: absolute;
    background: url(../img/hand.svg) no-repeat;
}

.marco2{
	width: 36px;
	height: 36px;
	top: 11px;
	left: 243px;
	border: solid #fff 4px;
	overflow: hidden;
    position: absolute;
	opacity: $opacityCero;

}

#hand2{
	width: 33px;
	height: 36px;
    position: absolute;
    left: 5px;
    background: url(../img/hand2.svg) no-repeat;
}

#f2_txt1{
	top: 20px;
	opacity: $opacityCero;
}
#f2_txt2{
	top: 60px;
	opacity: $opacityCero;
}

#f3_txt1{
	//font-family:clockfont;
	font-size:100px;
	top: 65px;
	opacity: $opacityCero;
}

#f4_txt1{
	top: 80px;
	font-size:22px;
	letter-spacing:1px;
	opacity: $opacityCero;
}
#f4_txt2{
	top: 128px;
	font-size:29px;
	font-weight: bold;
	letter-spacing:1px;
	color: $BackgroundLightBlue;
	opacity: $opacityCero;
}
.centerAbsolute{
	left:0;
	right:0;
	margin: 0 auto;
}

.centerRelative{
	width: 100%;
	margin: 0 auto;
}

.frame {
display: block;
}