//Sass variables goes here

$opacityCero: 0;

//Background Colors
$BackgroundWhite: #ffffff;

//Border Colors
$borderGray: #333333;


//Mixins

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}