//Sass variables goes here

$opacityCero: 0;
$opacityOne: 0;

//Fonts
$fontApexMedium: "Verizon Apex Medium", Helvetica, Arial, sans-serif;
$fontApexBook: "Verizon Apex Book", Helvetica, Arial, sans-serif;
$fontHelvetica: Helvetica, Arial, sans-serif;

//Fonts Colors
$colorGray: #333333;
$colorWhite: #ffffff;

//Font Sizes
$collapsedTitle: 18;
$ff-cta: 8;

//Background Colors
$BackgroundWhite: #ffffff;
$BackgroundBlue: #001c3d;

//Border Colors
$borderGray: #333333;


//Mixins

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}